.profile__edit {
  top: 15px;
  right: -42px;
  width: 24px;
  height: 24px;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    top: 8px;
    right: -29px;
  }
}
